:root {
    --main-color: #2578d6;
    --secondary-color: #6732e2;
    --background-color: #cedadf;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: var(--main-color);
    width: 300px;
}

.page-content {
    background-color: blue;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.headerbar {
    background-color: white;
    height: 150px;
}

.main-page {
    background-color: var(--background-color);
    flex: 1;
}