:root {
    --main-color: #2578d6;
    --secondary-color: #6732e2;
    --background-color: #cedadf;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    background-color: var(--main-color);
}

.page-content {
    background-color: blue;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.headerbar {
    background-color: white;
}

.main-page {
    background-color: var(--background-color);
}